version: '3.4'

services:
  db:
    image: "mcr.microsoft.com/mssql/server:2017-latest"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Password123!
    ports:
      - "1433:1433"
  mytest:
    build: .
    ports:
      - "8000:80"
      - "8080:443"
    depends_on:
      - db
